* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

/* styles for the navigation bar */
.nav-bar {
    background-color: #111;
}

.nav-bar .container {
    color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 200px;
}

.nav-bar img {
    width: 50px;
}

.nav-bar .logo {
    font-weight: bolder;
    font-size: large;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.nav-bar a {
    color: #f9f9f9;
    text-decoration: none;
}

/* styles for header */
.header {
    background-color: #ece8e1;
    color: #0f1923;
}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 200px;
    gap: 10px;
}

.header .information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header h1 {
    font-size: 70px;
}

.header .min-spec {
    margin-top: 50px;
}

.min-spec p {
    font-weight: bold;
}

.min-spec ul {
    list-style-type: none;
}

.header img {
    min-width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #a7a197;
}

/* styles for agents section */
.agents {
    color: #ece8e1;
    background-color: #0f1923;
    text-align: center;
    padding: 20px;
}

.agents .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px;
    gap: 50px;
}

.agents .card {
    border: 1px solid #ece8e1;
    background-color: #ece8e1;
    color: #0f1923;
    border-radius: 5px;
    box-shadow: 5px 5px 8px #273e55;
}

.agents h2 {
    font-size: 50px;
}

.agents img {
    width: 300px;
    height: 300px;
    border-radius: 5px 5px 0px 0px;
}

.agents ul {
    list-style-type: none;
}
